$color-red-700: #d92f53;
$color-red-500: #F5100A;
$color-yellow-900: #eca700;
$color-yellow-500: #FFE001;
$color-yellow-400: #f9d377;
$color-blue-500: #2989ff;
$color-green-500: #32ec40;
$color-grey-900: #4d4d4d;
$color-grey-800: #818181;
$color-grey-700: #767676;
$color-grey-300: #DCD9D9;
$color-grey-50: #e5e5e5;
$color-grey-10: #f9f9f9;
$color-grey-5: #f0f0f0;
$color-white: #ffffff;
$color-black: #000;

$font-size-large: 20px;
$font-size-title: 18px;
$font-size-body: 16px;
$font-size-caption: 14px;
$font-size-label: 10px;
$font-primary: 'SourceHanSans';
$font-secondary: SimSun;

$font-weight-normal: normal;
$font-weight-bold: bold;

$border-radius: 4px;