.slack-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 10;
  visibility: hidden;

  &.is-visible {
    visibility: visible;
    &.slack-loader-container {
      -webkit-animation: show-modal .4s;
      animation: show-modal .4s
    }
  }
}

.slack-loader-container {
  border-radius: 5px;
  padding: 10px;
  background: $color-white;
}

.slack-loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  -webkit-transform: rotate(165deg);
  transform: rotate(165deg);

  &::after,&::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: .5em;
    height: .5em;
    border-radius: .25em;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
  }
  
  &::before {
    -webkit-animation: before-animation 2s infinite;
    animation: before-animation 2s infinite
  }

  &::after {
    -webkit-animation: after-animation 2s infinite;
    animation: after-animation 2s infinite
  }
}

@keyframes before-animation {
  0% {
      width: .5em;
      box-shadow: 1em -.5em rgba(225,20,98,.75),-1em .5em rgba(111,202,220,.75)
  }

  35% {
      width: 2.5em;
      box-shadow: 0 -.5em rgba(225,20,98,.75),0 .5em rgba(111,202,220,.75)
  }

  70% {
      width: .5em;
      box-shadow: -1em -.5em rgba(225,20,98,.75),1em .5em rgba(111,202,220,.75)
  }

  100% {
      box-shadow: 1em -.5em rgba(225,20,98,.75),-1em .5em rgba(111,202,220,.75)
  }
}

@keyframes after-animation {
  0% {
      height: .5em;
      box-shadow: .5em 1em rgba(61,184,143,.75),-.5em -1em rgba(233,169,32,.75)
  }

  35% {
      height: 2.5em;
      box-shadow: .5em 0 rgba(61,184,143,.75),-.5em 0 rgba(233,169,32,.75)
  }

  70% {
      height: .5em;
      box-shadow: .5em -1em rgba(61,184,143,.75),-.5em 1em rgba(233,169,32,.75)
  }

  100% {
      box-shadow: .5em 1em rgba(61,184,143,.75),-.5em -1em rgba(233,169,32,.75)
  }
}

.loading-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  &__icon {
    animation: loading-ring 1s infinite linear;
  }
}

@keyframes loading-ring {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}